.side-box{
    position: fixed;
    top:0;
    height:100vh;
color:white;
background-color: rgb(74, 72, 72);
padding: 20px;

}

.side-box-users{
    text-align: center;
display: block;
    color:white;
    background-color: brown;
  
}