
.main-can1{
    height:100%;
    width:100%;
    border: 1px solid black;
    overflow: hidden;
}

.main-head-room{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

