
.joinroom-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFBF5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  .joinroom-input-group {
    margin-bottom: 20px;
  }
  

  .joinroom-input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
  }
  
  
  .joinroom-input::placeholder {
    color: #999; 
  }
  

  .joinroom-button {
    padding: 10px 20px;
    background-color:  #5b25be; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .joinroom-button:hover {
    background-color:  #3c1682; 
  }

  .error-message-j{
    text-align: left;
    color: red;
    margin-top: 10px;
  }
  