.canvas-box{
    height:500px;

    margin:100px 100px 50px;
    
}

.board-elements{
    display: flex;

}
.tool-options{
    display: flex;
}
.side-box{
    position: fixed;
    top:0;
    height:100vh;
color:white;
background-color: rgb(74, 72, 72);
padding: 20px;

}

.side-box-users{
    text-align: center;
display: block;
    color:white;
    background-color: brown;
  
}

.dnld-btn{
   margin:0 auto;
   justify-content: center;
}
.floating-textbox {
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    padding:    0px;
    z-index: 1000;
  }
  
  .handle {
    cursor: move;
    background-color: #ccc;
    padding: 5px;
    margin-bottom: 5px;
  }
